%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-github:before {
	content: "\e904";
}
._icon-be:before {
	content: "\e905";
}
._icon-in:before {
	content: "\e906";
}
._icon-codepan:before {
	content: "\e907";
}
